<h1>Editing classfield</h1>

<%= render "form", classfield: @classfield %>

<br>

<div>
  <%= link_to "Show this classfield", @classfield %> |
  <%= link_to "Back to classfields", classfield_path %>
</div>
